.inputs {
width: 300px;
}

label {
    color:brown;
}

#out {
    margin-bottom: 20px;
    margin-top: 40px;
}

.btn {
    margin-top: 60px;
}

img {
    width: 50px;
}

.commet {
    color: rgb(88, 120, 85);
}